/*
@import url("fonts.css");
*/
@import url("reset.css"); 

body{
	
}

.wrapper {
	min-height: 100%;
	overflow: hidden; /* clip */
	/* ... */
}
.header{
	font-size: 56px;
	text-align: center;
}
.page {
}

.page__car {
}

	/* ... */

/* ... */







/* ...animation: city 20s linear infinite; */
.auto1 {
	background-color: #9993b4;
	width:100%;
	height: 1000px;
	
}

.body{	
	position: relative;
	
}



.body__front-window {
	height: 0;
	width: 225px;
	border-bottom: 110px solid rgba(0, 0, 0, 0.616);
	border-left: 0px solid transparent;
	border-right:120px solid transparent;
	position: absolute;
	top: 305px;
	left: 450px;
	transition-duration: 10s;
}
.body__front-window:hover{
	transition-duration: 10s;
	transform: translatey(140px);
}
.body__rear-window {
	height: 0;
	width: 200px;
	border-bottom: 100px solid rgba(0, 0, 0, 0.671);
	border-left: 50px solid transparent;
	border-right:0px solid transparent;
	position: absolute;
	top: 305px;
	left: 240px;
	transition-duration: 3s;	
}

.body__rear-window:hover{
	transition-duration: 3s;
	transform: translatey(140px);
}


.body__rear-door {
	width: 205px;
	height: 140px;
	position: absolute;
	top: 405px;
	left: 240px;
	background: rgba(255, 255, 255);
	border: 3px solid black;
	z-index: 1;
	
}
.body__front-door {
	width: 225px;
	height: 140px;
	position: absolute;
	top: 405px;
	left: 445px;
	background: rgba(255, 255, 255);
	border: 3px solid black;
}
.body__front-wing {
	height: 90px;
	width: 290px;
	background: rgba(253, 253, 253);
	position: absolute;
	top: 400px;
	left: 670px;
	border-bottom: 2px solid black;
	z-index: 25;
	border-radius: 0px 80% 0px 0px ;
}
.body__front-wing1 {
	height: 40px;
	width: 130px;
	background: rgba(255, 255, 255);
	position: absolute;
	top: 490px;
	left: 845px;
	border-radius: 0px 20px 15px 0px;
	
}
.body__front-wing2 {
	height: 15px;
	width: 110px;
	background: rgba(255, 255, 255);
	position: absolute;
	top: 530px;
	left: 845px;
	border-radius: 0px 0px 5px 0px;
	
}
.body__front-wing3 {
	height: 15px;
	width: 125px;
	background: rgba(255, 255, 255);
	position: absolute;
	top: 545px;
	left: 845px;
	border-radius: 0px 10px 10px 0px;
	
}
.body__front-wing4 {
	height: 55px;
	width: 125px;
	background: rgba(255, 255, 255);
	position: absolute;
	top: 490px;
	left: 670px;
	border-radius: 0px 10px 10px 0px; 
}
.body__front-wing5 {
	height: 12px;
	width: 500px;
	background: rgba(255, 255, 255);
	position: absolute;
	top: 545px;
	left: 280px;
	border-radius: 0px 10px 10px 0px;
	
}
.body__front-wing6 {
	height: 28px;
	width: 61px;
	background: rgb(255, 123, 0);
	position: absolute;
	top: 460px;
	left: 900px;
	border-radius: 0px 10px 0px 0px;

}
.body__roof1 {
	height: 15px;
	width: 320px;
	background: rgba(255, 255, 255);
	position: absolute;
	top: 290px;
	left: 240px;
	border-radius: 50px 50px 0px 0px; 
}
.body__roof2 {
	height: 10px;
	width: 220px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 369px;
	left: 525px;
	border-radius: 0px 0px 0px 0px;	
	transform: rotate(42.5deg);
}
.body__roof3 {
	height: 10px;
	width: 220px;
	background: rgba(0, 0, 0, 0.87);
	position: absolute;
	top: 370px;
	left: 539px;
	border-radius: 0px 0px 0px 0px;	
	transform: rotate(38deg);	
}
.body__roof4 {
	height: 8px;
	width: 200px;
	background: rgba(0, 0, 0, 0.87);
	position: absolute;
	top: 365px;
	left: 550px;
	border-radius: 0px 0px 0px 0px;	
	transform: rotate(35.5deg);
}
.body__roof5 {
	height: 16px;
	width: 227px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 347px;
	left: 48px;
	border-radius: 5px 0px 0px 0px;
	transform: rotate(-30deg);
}
.body__roof6 {
	height: 10px;
	width: 110px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 345px;
	left: 390px;
	border-radius: 0px 0px 0px 0px;	
	transform: rotate(-90deg);	
}
.body__rear1 {
	height: 40px;
	width: 15px;
	background: rgba(168, 0, 0);
	position: absolute;
	top: 435px;
	left: 60px;
	border-radius: 5px 0px 0px 0px;
}
.body__rear2 {
	height: 70px;
	width: 180px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 405px;
	left: 60px;
	border-radius: 0px 0px 0px 0px;
	border-bottom: 2px solid black;	
}

.body__rear3 {
	height: 40px;
	width: 50px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 435px;
	left: 75px;
	border-radius: 4px 4px 4px 4px;
	border: 2px solid rgb(0, 0, 0);	
}
.body__rear4 {
	height: 10px;
	width: 140px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 348px;
	left: 203px;
	border-radius: 0px 40px 0px 0px;
	transform: rotate(-64deg);	
}
.body__rear5 {
	width: 0; 
	height: 0;
	position: absolute;
	top: 360px;
	left: 100px;
	border-top: 25px solid transparent;
	border-right: 50px solid #ffffff;
	border-bottom: 40px solid transparent;	
	transform: rotate(110deg);
}
.body__rear6 {
	height: 20px;
	width: 60px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 380px;
	left: 115px;
	border-radius: 0px 0px 0px 0px;
	transform: rotate(60deg);	
}
.body__rear7 {
	height: 30px;
	width: 230px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 475px;
	left: 36px;
	border-radius: 10px 0px 0px 10px;
	transform: rotate(0deg);	
}
.body__rear8 {
	height: 50px;
	width: 100px;
	background: rgb(255, 255, 255);
	position: absolute;
	top: 505px;
	left: 56px;
	border-radius: 0px 0px 0px 10px;	
}
.body__rear-window2 {
	width: 0; 
	height: 0;
	position: absolute;
	top: 305px;
	left: 87px;
	border-bottom: 100px solid #000000a2;
	border-left: 170px solid transparent;
}
.body__rear-window3 {
	width: 0; 
	height: 0;
	position: absolute;
	top: 305px;
	left: 255px;
	border-top: 100px solid #000000a2;
	border-right: 40px solid transparent;
}
.body__doorhandle-rear {
	height: 10px;
	width: 30px;
	background: rgb(0, 0, 0);
	position: absolute;
	top: 430px;
	left: 256px;
	border-radius: 10px;	
}
.body__doorhandle-front {
	height: 10px;
	width: 30px;
	background: rgb(0, 0, 0);
	position: absolute;
	top: 430px;
	left: 460px;
	border-radius: 10px;	
}

.wheel{	
	position: relative;	
	transform-origin: 210px 550px;
	z-index: 100;
}
.wheel_front-wheel {
	position: relative;	
	left: 590px;
}

.wheel__10 {
	height: 160px;
	width: 160px;	
	position: absolute;
	top: 470px;
	left: 130px;
	background-color: #000;
	border-radius: 50%;
	border: 4px dashed #fcfafa;	
	z-index: 0;
	animation: wheel 0.6s linear infinite;
	
	}
	@keyframes wheel
	{
		0%{
			transform: rotate(0deg);
		}
		50%{
			transform: rotate(15deg);
		}

		100%{
			transform: rotate(90deg);
		}
	}

.wheel__1 {
	height: 120px;
	width: 120px;
	background: rgb(139, 139, 139);
	position: absolute;
	top: 490px;
	left: 150px;
	border-radius: 50%;
	border: 3px solid rgb(0, 102, 255);
	z-index: 2;	
	
}
.wheel__2 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;
	z-index: 2;
	
}
.wheel__3 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;	
	transform: rotate(90deg);
	z-index: 2;
	
}
.wheel__4 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;
	transform: rotate(45deg);
	
}
.wheel__5 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;	
	transform: rotate(-45deg);
	z-index: 2;
	
}
.wheel__6 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;
	transform: rotate(-23.5deg);
	z-index: 2;
	
}
.wheel__7 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;	
	transform: rotate(23.5deg);
	z-index: 2;
	
}
.wheel__8 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;
	transform: rotate(68.5deg);
	z-index: 2;
	
}

.wheel__9 {
	height: 120px;
	width: 10px;
	background: rgb(0, 102, 255);	
	position: absolute;
	top: 490px;
	left: 205px;
	border-radius: 5px;
	transform: rotate(-68.5deg);
	z-index: 2;
	animation: wheel-rever 2s linear infinite;
}


@keyframes wheel-rever
{
	0%{
		transform: rotate(360deg);
	}
	25%{
		transform: rotate(290deg);
	}
	50%{
		transform: rotate(180deg);
	}
	50%{
		transform: rotate(90deg);
	}

	100%{
		transform: rotate(0deg);
	}
}
