@charset "UTF-8";
/* Підключення фрифтів */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Public+Sans:regular&display=swap");
/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
/* Локальне підключення шрифтів */
@import url("reset.css");
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* .... */
/* Скидання стилів */
/* Основні стилі */
body {
  font-family: "Work+Sans";
  color: #556070;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

/* --------------------- */
[class*=__container] {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 15px;
}

/* --------------------- */
/* БЕМ елементі @import */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.logo__link-image {
  min-width: 40px;
  min-height: 40px;
}
.logo__link-image:hover {
  border-radius: 50%;
  box-shadow: 7px 7px 0px rgba(9, 1, 121, 0.445);
}
.logo__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.logo__link-text {
  color: #132238;
  font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
  font-weight: 600;
  line-height: 1.25; /* 125% */
}
.logo__link-text--light {
  color: #fff;
}
.logo__link-text--light:hover {
  text-decoration: underline;
}

.button {
  border-radius: 0.25rem;
  border-radius: 4px;
  background-color: #A53DFF;
  color: #FFF;
  font-weight: 600;
  line-height: 1, 5;
  transition: inset-inline-start 0.8s;
}
.button:hover {
  background-color: #c291eb;
  color: #2d2930;
  transition: inset-inline-start 0.3s;
}
.button--bright {
  border-radius: 4px;
  background: #FFF;
  color: #A53DFF;
}
.button--bright:hover {
  background-color: #c291eb;
  color: #2d2930;
  transition: inset-inline-start 0.3s;
}

.imege img {
  width: 100%;
  height: 100%;
  border-radius: 1.5625rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.section__title {
  color: #132238;
  font-size: 2.375rem;
  font-weight: 600;
  line-height: 1.31579; /* 131.579% */
}
.section__text {
  color: #556070;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333; /* 133.333% */
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.section__button {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
.section__item {
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  border: 1px solid #A53DFF;
  text-align: center;
  font-weight: 600;
  line-height: 1.5; /* 150% */
}
.section__item--icons::before {
  content: "";
  background-image: url(../img/svg/download.svg);
  background-repeat: no-repeat;
  margin-inline-end: 16px;
  width: 1.5rem;
  height: 1.5rem;
}

.content__titel {
  color: #132238;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.166667; /* 116.667% */
}
.content__text {
  color: #697484;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.333333; /* 133.333% */
}
.content__text :not(:last-child) {
  margin-block-end: 1rem;
}

.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.social__item {
  box-shadow: 0px 0.75rem 4rem 0px rgba(28, 25, 25, 0.12);
  border-radius: 0.25rem;
}
.social__button {
  padding: 1rem;
}
.social__button svg {
  fill: #A53DFF;
}
.social__button:hover {
  background-color: #A53DFF;
}
.social__button:hover svg {
  fill: #FFF;
}

.slayder {
  display: flex;
  gap: 0.75rem;
}
.slayder__item {
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #C3C7CE;
}
.slayder__item--oval {
  width: 1.875rem;
  height: 0.3125rem;
  border-radius: 6.25rem;
  background-color: #210C33;
}

/* Стилів header */
.header {
  padding-block: 1%; /* 20/2018 */
  background-color: #fff;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 44.75rem) {
  .header__container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
}
@media (max-width: 44.6875rem) {
  .header__logo {
    order: 1;
    position: relative;
    z-index: 4;
  }
}
.header__menu {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 44.6875rem) {
  .header__menu {
    order: 3;
  }
}
.header__button {
  padding-block: 0.75rem; /* 12/270 */
  padding-inline: 1.5rem; /* 24/270 */
}
@media (max-width: 44.6875rem) {
  .header__button {
    position: relative;
    z-index: 4;
    order: 3;
  }
}

@media (max-width: 44.6875rem) {
  .menu__icon {
    position: relative;
    z-index: 4;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  padding-block: 0.75rem; /* 12/270 */
  padding-inline: 1.5rem; /* 24/270 */
}
@media (max-width: 57.5rem) {
  .menu__item {
    padding-inline: 1.25rem; /* 24/270 */
  }
}
@media (max-width: 53.375rem) {
  .menu__item {
    padding-inline: 0.5rem;
  }
}
.menu__link {
  color: #333;
  line-height: 1.5; /* 150% */
}
.menu__link:hover {
  text-decoration: underline;
}

@media (max-width: 44.6875rem) {
  .header__menu {
    order: 3;
  }
  .header__logo {
    order: 1;
  }
  .header__button {
    order: 2;
  }
  .header__logo,
  .header__button,
  .icon-menu {
    position: relative;
    z-index: 4;
  }
  .icon-menu {
    margin-inline-start: 0.9375rem;
    flex-shrink: 0;
    flex-basis: 1rem;
    display: flex;
    flex-direction: column;
  }
  .icon-menu span {
    margin-block: 6px;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    transition: all 0.3s;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #1a1818;
  }
  .header__icon {
    position: relative;
    z-index: 6;
  }
  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 3;
    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 6.25rem 0.9375rem 1.875rem;
    background-color: #b8b3ee;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    block-size: 3.75rem;
    inline-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    z-index: 3;
    background-color: #b1c4f1;
    transition: inset-inline-start 0.3s;
  }
  .menu__list {
    flex-direction: column;
    border: none;
    align-items: flex-end;
    background-color: transparent;
    row-gap: 25px;
  }
  .menu__link {
    font-size: 1.5rem;
    padding: 0;
  }
  .menu__link.active {
    text-decoration: underline;
    background-color: transparent;
  }
  .open-menu .menu__body,
  .open-menu .menu__body::before {
    inset-inline-start: 0;
  }
  .open-menu body {
    overflow: hidden;
  }
  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }
  .menu__list {
    flex-direction: column;
    border: none;
    align-items: flex-end;
    background-color: transparent;
    row-gap: 25px;
  }
  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }
  .open-menu .icon-menu::before {
    transform: rotate(45deg) translateY(1.5px);
  }
  .open-menu .icon-menu::after {
    transform: rotate(-45deg) translateY(-1.5px);
  }
  .button {
    padding-inline: 1.75rem;
  }
}
/* Стилів main */
.page > *:not(:last-child) {
  margin-block-end: 6.25rem;
}
.page__hero {
  margin-block-end: 13.25rem;
  padding-block-start: 7.75rem;
  background-color: #FFF;
}
@media (max-width: 57.125rem) {
  .page__hero {
    padding-block-start: 3.75rem;
  }
}
@media (max-width: 612px) {
  .page__hero {
    padding-block-start: 1.875rem;
  }
}
.page__proces {
  margin-block-start: -248px;
  padding-block-start: 15.5rem;
  padding-block-end: 1.5rem;
  background-color: #F0F1F3;
}
.page__portfolio {
  padding-block-start: 6.25rem;
}
.page__project {
  background: #132238;
  padding-block: 6.25rem;
}
.page__work {
  padding-block: 9.375rem;
  background-color: #F0F1F3;
}
.page__discuss {
  position: relative;
}

.hero__container {
  display: grid;
  gap: 1rem;
}
.hero__container > *:not(:last-child) {
  margin-block-end: 13.25rem;
}
@media (max-width: 38.25rem) {
  .hero__container > *:not(:last-child) {
    margin-block-end: 1.875rem;
  }
}
.hero__user {
  display: grid;
  grid-template-columns: 0.46fr 0.54fr;
  -moz-column-gap: clamp(1rem, 1rem + 5vw, 8.375rem);
       column-gap: clamp(1rem, 1rem + 5vw, 8.375rem);
}
@media (max-width: 57.3125rem) {
  .hero__user {
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
}
.hero__blok {
  margin-block-start: 3.25rem;
}
.hero__content {
  margin-block-end: 8.875rem;
}
.hero__content > *:not(:last-child) {
  margin-block-end: 1.5rem;
}
@media (max-width: 57.3125rem) {
  .hero__content {
    margin-block-end: 4.375rem;
  }
}
@media (max-width: 31.2488rem) {
  .hero__content {
    margin-block-end: 1.875rem;
  }
}
.hero__title {
  color: #132238;
  font-size: clamp(2.75rem, 0.25rem + 5vw, 4.5rem);
  font-weight: 600;
  line-height: 1.16667; /* 116.667% */
}
.hero__text {
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  font-weight: 400;
  line-height: 1.3333; /* 133.333% */
}
.hero__button {
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
}
.hero__card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}
@media (max-width: 31.2488rem) {
  .hero__card {
    grid-template-columns: 1fr;
  }
}
.hero__foto {
  background-color: #FFF;
  border-radius: 1.5625rem;
  box-shadow: 0px 1.5rem 7.25rem 0px rgba(43, 56, 76, 0.09);
  max-height: 34.875rem;
  justify-items: end;
}
.hero__designtr {
  padding: 7rem;
  background-color: #FFF;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 8.125rem;
       column-gap: 8.125rem;
}
@media (max-width: 70.8125rem) {
  .hero__designtr {
    padding: 3.5rem;
    -moz-column-gap: 3.125rem;
         column-gap: 3.125rem;
  }
}
@media (max-width: 57.3125rem) {
  .hero__designtr {
    flex-wrap: wrap;
    row-gap: 1.25rem;
    padding: 1rem;
  }
}

.card__item {
  padding: 1.0625rem 0.75rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #FFF;
  background-color: rgba(237, 216, 255, 0.5);
  text-align: center;
}
.card__heading {
  color: #697484;
  line-height: 1.5; /* 150% */
}
.card__sab-title {
  color: #697484;
  line-height: 1.5; /* 150% */
}

@media (min-width: 62.625rem) {
  .designtr__blok {
    flex-basis: 50%;
  }
}
.designtr__section {
  display: grid;
  row-gap: 2rem;
}
.designtr__foto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.designtr__items {
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0.75rem 4rem 0px rgba(28, 25, 25, 0.12);
  margin-block-start: -2.25rem;
  background-color: #ffffff;
  text-align: center;
}

.proces__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8.9375rem;
       column-gap: 8.9375rem;
}
@media (max-width: 62.5rem) {
  .proces__container {
    -moz-column-gap: 4.375rem;
         column-gap: 4.375rem;
  }
}
@media (max-width: 56.25rem) {
  .proces__container {
    grid-template-columns: 1fr;
  }
}
.proces__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media (max-width: 35rem) {
  .proces__cards {
    grid-template-columns: 1fr;
    gap: 0.9rem;
  }
}
.proces__card {
  padding: 2rem;
  border-radius: 0.75rem;
  background: #FFF;
}
.proces__card:nth-child(odd) {
  transform: translateY(-0.625rem);
}
.proces__icons {
  display: inline-block;
  background-color: rgba(237, 216, 255, 0.5);
  margin-block-end: 2rem;
  padding: 1.25rem;
  border-radius: 0.75rem;
  box-shadow: 2rem 2rem 7.75rem 0px rgba(43, 56, 76, 0.1);
}
.proces__icons svg {
  fill: #A53DFF;
}
.proces__icons--activ {
  background-color: #A53DFF;
}
.proces__icons--activ svg {
  fill: #fff;
}
.proces__titel {
  margin-block-end: 0.75rem;
  color: #132238;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
}
.proces__text {
  color: #556070;
  line-height: 1.5; /* 150% */
}

.portfolio__container {
  display: grid;
  justify-items: center;
}
.portfolio__content {
  text-align: center;
  margin-block-end: 4.375rem;
}
.portfolio__products {
  margin-block-end: 3.125rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
@media (max-width: 58.25rem) {
  .portfolio__products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 35.3125rem) {
  .portfolio__products {
    grid-template-columns: 1fr;
  }
}
.portfolio__product {
  display: grid;
}
.portfolio__product > * {
  margin-block-end: 2rem;
}
.portfolio__button {
  display: inline-block;
  border-radius: 0.25rem;
  background-color: #A53DFF;
  padding: 0.75rem 1.5rem;
  text-align: center;
}

.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product__content {
  padding-inline: 2rem;
}
.product__sab-titel {
  color: #87909D;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.3333; /* 133.333% */
}
.product__titel {
  color: #132238;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.3333; /* 133.333% */
  margin-block-end: 0.75rem;
}
.product__text {
  margin-block-end: 1.25rem;
  color: #556070;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.42857; /* 142.857% */
}
.product__button {
  display: inline-block;
  border-radius: 0.25rem;
  border: 0.0625rem solid var(--Primary-500, #A53DFF);
  background: var(--Gray-White, #FFF);
  padding: 0.75rem 1.5rem;
  text-align: center;
  position: relative;
}
.product__button--icons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}
.product__button--icons::after {
  content: "";
  background-image: url(../img/svg/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  width: 1.5rem;
  height: 1.5rem;
}

.project__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 40.625rem) {
  .project__container {
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
  }
}
@media (min-width: 40.625rem) {
  .project__content {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 38.8125rem;
  }
}
.project__content > *:not(:last-child) {
  margin-block-end: 2rem;
}
.project__content .content__titel {
  color: #FFF;
}
.project__button {
  padding-inline: 1.5rem;
  padding-block: 0.75rem;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.blog__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog__content {
  max-width: 33.75rem;
  margin-block-end: 4.375rem;
}
.blog__content > *:not(:last-child) {
  margin-block-end: 1.5rem;
}
.blog__content .content__titel {
  text-align: center;
}
.blog__content .content__text {
  align-self: center;
  text-align: center;
}
.blog__products {
  margin-block-end: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
@media (max-width: 60.25rem) {
  .blog__products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .blog__products {
    grid-template-columns: 1fr;
  }
}
.blog__product {
  border-radius: 0.5rem;
  border: 1px solid #F0F1F3;
  background: #FFF;
  box-shadow: 0px 0.75rem 4rem 0px rgba(28, 25, 25, 0.12);
  align-self: center;
  display: grid;
}
.blog__product > * {
  margin-block-end: 1.5rem;
}
.blog__slayder {
  display: flex;
  gap: 0.75rem;
}

.blog-product__link-img {
  display: flex;
}
.blog-product__link-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.blog-product__img {
  width: 100%;
}
.blog-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.blog-product__content {
  padding-inline: 1.5rem;
}
.blog-product__sab-titel {
  color: #87909D;
  font-family: "Work Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4285; /* 142.857% */
}
.blog-product__titel {
  color: #333;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3333; /* 133.333% */
}

.work__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 10.592593%;
       column-gap: 10.592593%; /* 143/1350 */
  row-gap: 5.6%;
}
@media (max-width: 62.5rem) {
  .work__container {
    -moz-column-gap: 5%;
         column-gap: 5%;
  }
}
.work__container .content__titel {
  margin-block-end: 1.5rem;
}
.work__container .content__text > *:not(:last-child) {
  margin-block-end: 1rem;
}
@media (max-width: 59.375rem) {
  .work__container {
    grid-template-columns: 1fr;
  }
}
.work__content > * {
  margin-block-end: 3.125rem;
}
.work__button {
  padding: 0.75rem 1.5rem;
}
.work__columns {
  display: grid;
  gap: 1.5rem;
}
.work__column {
  border-radius: 0.375rem;
  background-color: #FFF;
  box-shadow: 0px 2rem 6rem 0px rgba(28, 25, 25, 0.16);
  padding: 2rem;
}
.work__column:first-child {
  border-inline-start: 0.3125rem solid #A53DFF;
}

.column-wor__titel {
  margin-block-end: 1rem;
  color: #132238;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 100%; /* 24px */
}
.column-wor__text {
  color: #424E60;
  line-height: 1.5; /* 150% */
}

.client__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.client__content {
  max-width: 577px;
  text-align: center;
}
.client__content > *:not(:last-child) {
  margin-block-end: 24px;
}
.client__companie {
  display: flex;
  flex-wrap: wrap;
}

.testimonial__container {
  display: grid;
  justify-items: center;
  text-align: center;
}
.testimonial__content {
  margin-block-end: 4.375rem;
}
.testimonial__content > *:not(:last-child) {
  margin-block-end: 1.5rem;
}
.testimonial__blok {
  max-width: 54.5rem;
}
.testimonial__excerption {
  margin-block-end: 1.5rem;
  color: #2B384C;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.333; /* 133.333% */
}
.testimonial__titel {
  margin-block-end: 0.5rem;
  color: #000;
  font-family: "Poppins";
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.4444; /* 144.444% */
}
.testimonial__text {
  margin-block-end: 3.125rem;
  color: #000;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}
.discuss__container {
  padding: 5.5rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 26.875rem) {
  .discuss__container {
    padding-block: 5.5rem;
  }
}
.discuss__blok {
  flex-basis: 42%;
}
.discuss__blok > :not(:last-child) {
  margin-block-end: 2.1875rem;
}
@media (max-width: 52rem) {
  .discuss__blok {
    flex-basis: 100%;
  }
}
.discuss__titel {
  margin-block-end: 1rem;
  color: #132238;
  font-size: 2.375rem;
  font-weight: 600;
  line-height: 1.3158; /* 131.579% */
}
.discuss__text {
  color: #87909D;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3333; /* 133.333% */
}
.discuss__contact {
  display: grid;
  gap: 12px;
  flex-wrap: wrap;
}
.discuss__form {
  flex-basis: 47.7%;
}
.discuss__form > :not(:last-child) {
  margin-block-end: 3.125rem;
}
@media (max-width: 52rem) {
  .discuss__form {
    flex-basis: 100%;
  }
}

.contact__item {
  padding: 1.5rem;
  border-radius: 10px;
  background: #FFF;
  display: flex;
  gap: 12px;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
}
.contact__item:hover {
  box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
}
.contact__item:hover .contact__icon {
  background-color: #A53DFF;
}
.contact__item:hover .contact__icon svg {
  fill: #FFF;
}
.contact__title {
  color: #424E60;
  font-size: 0.875rem;
  line-height: 1.4286; /* 142.857% */
}
.contact__title-link {
  color: #132238;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
}
.contact__icon {
  padding: 12px;
  border-radius: 4px;
  background-color: rgba(237, 216, 255, 0.5);
}
.contact__icon svg {
  height: 24px;
  width: 24px;
  fill: #A53DFF;
}

.form__blok {
  margin-block-end: 3.125rem;
}
.form__item:not(:last-child) {
  margin-block-end: 1.5rem;
}
.form__item:hover .form__input {
  border-bottom: 1.5px solid #A53DFF;
}
.form__item:hover .form__label {
  color: #A53DFF;
}
.form__item--col {
  display: flex;
  gap: 1.5rem;
}
.form__label {
  color: #697484;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.3333; /* 133.333% */
}
.form__button {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  gap: 12px;
}
.form__button::after {
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url("../img/svg/paper.svg") 0 0 no-repeat;
}

/* Стилів footer */
.footer {
  margin-block-start: -3.75rem;
  background-color: #2B384C;
  color: #fff;
}
.footer__container {
  padding-block-start: 12rem;
  padding-block-end: 5.125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 57.8125rem) {
  .footer__container {
    padding-block-start: 3.75rem;
    padding-block-end: 2.5rem;
    justify-content: center;
    row-gap: 1.3rem;
  }
}
.footer__logo {
  display: flex;
  flex-wrap: wrap;
}
.footer__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer__item {
  padding-block: 0.75rem; /* 12/270 */
  padding-inline: 1.5rem; /* 24/270 */
}
.footer__link {
  color: #F0F1F3;
  line-height: 1.5; /* 150% */
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__copyr {
  color: var(--Gray-White, #FFF);
  line-height: 1.5; /* 150% */
}