

	.header__menu{
		order: 3;
		
		
	}
	.header__logo{
		order: 1;
	}
	.header__button {
		order: 2;
	}
	.header__logo,
	.header__button,
	.icon-menu{
		position: relative;
		z-index: 4;
	}
	.icon-menu {
		margin-inline-start: 0.9375rem;
		flex-shrink: 0;
		flex-basis: 1rem;
		display: flex;
		flex-direction: column;
	}
	.icon-menu span{
		margin-block: 6px;
	}	
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		transition: all 0.3s;
		content: "";
		height: 2px;
		width: 100%;
		background-color: #1a1818;
	}
	.header__icon{
		position: relative;
		z-index: 6;
	}
	.menu__body {
		position: fixed;
		inset-inline-start: 100%;
		inset-block-start: 0;
		inline-size: 100%;
		block-size: 100%;
		z-index: 3;

		transition: inset-inline-start 0.3s;

		overflow: auto;

		padding: 6.25rem 0.9375rem 1.875rem;

		background-color: #b8b3ee;
	}
	.menu__body::before {
		content: "";
		position: fixed;
		block-size: 3.75rem;
		inline-size: 100%;
		inset-inline-start: 100%;
		inset-block-start: 0;
		z-index: 3;
		background-color: #b1c4f1;
		transition: inset-inline-start 0.3s;
	}
	.menu__list {
		flex-direction: column;
		border: none;
		align-items: flex-end;
		background-color: transparent;
		row-gap: 25px;
	}
	.menu__link {
		font-size: 1.5rem;
		padding: 0;
	}
	.menu__link.active {
		text-decoration: underline;
		background-color: transparent;
	}
	.open-menu .menu__body,
	.open-menu .menu__body::before {
		inset-inline-start: 0;		
	}
	.open-menu body {		
		overflow: hidden;
	}

	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}

	.menu__list {
		flex-direction: column;
		border: none;
		align-items: flex-end;
		background-color: transparent;
		row-gap: 25px;
	}
	.open-menu .icon-menu span {
		width: 0;
		height: 0;
		margin: 0;
	}
	.open-menu .icon-menu::before {
		transform: rotate(45deg) translateY(1.5px);
	}
	.open-menu .icon-menu::after {
		transform: rotate(-45deg) translateY(-1.5px);
	}
	.button {	
		padding-inline: 1.75rem;		
	}
