@charset "UTF-8";
/* Підключення фрифтів */
/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo:500&display=swap");
/* Локальне підключення шрифтів */
@import url("reset.css");
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* .... */
/* Скидання стилів */
/* Основні стилі */
body {
  font-family: "Manrope", sans-serif;
  font-size: 1.375rem;
  color: #999;
  background-color: #141414;
}

.wrapper {
  min-height: 100%;
  overflow: clip; /* clip */
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.wrapper > main {
  flex-grow: 1;
}

/* --------------------- */
[class*=__container] {
  max-width: 1624px;
  padding-inline: 15px;
  margin: 0 auto;
}

/* --------------------- */
/* Стилі для header */
.header {
  padding-block: 1.875rem;
}
.header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.625rem;
}
@media (max-width: 72.5rem) {
  .header__container {
    min-height: 6.25rem;
  }
}
@media (max-width: 62rem) {
  .header__container {
    min-height: 5rem;
  }
}
@media (max-width: 31.25rem) {
  .header__container {
    min-height: 4.375rem;
  }
}
.header__logo {
  max-width: 100%;
  flex-basis: 12.5rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 313.125rem) {
  .header__logo {
    flex-basis: auto;
    width: 8.75rem;
  }
}
.header__menu {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 44.6875rem) {
  .header__menu {
    order: 3;
  }
}

@media (max-width: 62rem) {
  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 2;
    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 6.25rem 0.9375rem 1.875rem;
    background-color: #0f0f0f;
  }
}
.menu__body::before {
  content: "";
  position: fixed;
  block-size: 5rem;
  inline-size: 100%;
  inset-inline-start: 100%;
  inset-block-start: 0;
  z-index: 3;
  background-color: #0f0f0f;
  transition: inset-inline-start 0.3s;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem;
  row-gap: 0.1875rem;
  align-items: center;
  justify-content: center;
  padding: 0.625rem;
  border-radius: 0.75rem;
  border: 0.25rem solid #1f1f1f;
  background-color: #0f0f0f;
}
@media (max-width: 1160px) {
  .menu__list {
    padding: 0.625rem 1.125rem;
  }
}
@media (max-width: 62rem) {
  .menu__list {
    flex-direction: column;
    border: none;
    align-items: flex-end;
    background-color: transparent;
    row-gap: 1.5625rem;
  }
}
@media (max-width: 65.1875rem) {
  .menu__link--active {
    text-decoration: underline;
    background-color: transparent;
  }
}
.menu__link {
  color: #bfbfbf;
  line-height: 1.5;
  padding: 0.875rem 1.5rem;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #fff;
    background-color: #1a1a1a;
  }
}
@media (max-width: 65.1875rem) {
  .menu__link {
    font-size: 1.5rem;
    padding: 0;
  }
}

.actions-header {
  position: relative;
  z-index: 5;
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  align-items: center;
  row-gap: 0.1875rem;
  justify-content: flex-end;
}
@media (min-width: 72.5rem) {
  .actions-header {
    flex-basis: 12.5rem;
  }
}
@media (max-width: 31.25rem) {
  .actions-header {
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
  }
}
.icon-menu {
  display: none;
}

@media (max-width: 62rem) {
  .header__logo,
  .header__button,
  .icon-menu {
    position: relative;
    z-index: 4;
  }
  .icon-menu {
    margin-inline-start: 0.9375rem;
    flex-shrink: 0;
    flex-basis: 1rem;
    display: flex;
    flex-direction: column;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    transition: all 0.3s;
    content: "";
    height: 0.125rem;
    width: 100%;
    background-color: #ffffff;
  }
  .icon-menu span {
    margin-block: 0.375rem;
  }
  .header__icon {
    position: relative;
    z-index: 6;
  }
  .menu__body {
    position: fixed;
    inset-inline-start: 100%;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    z-index: 3;
    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 6.25rem 0.9375rem 1.875rem;
    background-color: #24242e;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    block-size: 3.75rem;
    inline-size: 100%;
    inset-inline-start: 100%;
    inset-block-start: 0;
    z-index: 3;
    background-color: #3d3e41;
    transition: inset-inline-start 0.3s;
  }
  .menu__list {
    flex-direction: column;
    border: none;
    align-items: flex-end;
    background-color: transparent;
    row-gap: 1.5625rem;
  }
  .menu__link {
    font-size: 1.5rem;
    padding: 0;
  }
  .menu__link.active {
    text-decoration: underline;
    background-color: transparent;
  }
  .open-menu .menu__body,
  .open-menu .menu__body::before {
    inset-inline-start: 0;
  }
  .open-menu body {
    overflow: hidden;
  }
  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }
  .menu__list {
    flex-direction: column;
    border: none;
    align-items: flex-end;
    background-color: transparent;
    row-gap: 1.5625rem;
  }
  .open-menu .icon-menu span {
    width: 0;
    height: 0;
    margin: 0;
  }
  .open-menu .icon-menu::before {
    transform: rotate(45deg) translateY(1.5px);
  }
  .open-menu .icon-menu::after {
    transform: rotate(-45deg) translateY(-1.5px);
  }
  .button {
    padding-inline: 1.75rem;
  }
}
.footer {
  padding-block: 6.25rem 3.125rem;
  background: #0F0F0F;
}
.footer__container {
  display: grid;
  row-gap: 6.25rem;
}
.footer__elements {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}
@media (max-width: 51.875rem) {
  .footer__elements {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 30.625rem) {
  .footer__elements {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 22.5rem) {
  .footer__elements {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
@media (max-width: 22.5rem) {
  .footer__element {
    text-align: center;
  }
}
.footer__link {
  margin-block-end: 1.5rem;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5; /* 30px */
}
.footer__social {
  display: flex;
  gap: 0.875rem;
}
.footer__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  align-items: center;
  position: relative;
}
@media (max-width: 32.5rem) {
  .footer__footer {
    justify-content: center;
  }
}
.footer__footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #262626;
  position: absolute;
  top: -1.5rem;
  left: 0;
}
.footer__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
@media (max-width: 32.5rem) {
  .footer__columns {
    grid-template-columns: 1fr;
    align-self: center;
    justify-items: center;
  }
}

.item-footer__item {
  color: #999;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5; /* 27px */
}
.social-footer__item {
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid #262626;
  background: #1A1A1A;
}

.columns-footer__item {
  position: relative;
}
.columns-footer__item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -1.25rem;
  width: 0.0625rem;
  height: 100%;
  background: #262626;
}

.active {
  color: #fff;
  background-color: #1a1a1a;
}

.button {
  border-radius: 0.5rem;
  border: 1px solid #1F1F1F;
  background: #0F0F0F;
}
.button:hover {
  background: #413f3f;
}
.button__play {
  padding-block: 0.875rem;
  padding-inline: 1.5rem;
  margin-inline-end: 1.25rem;
}
.button__item {
  padding: 0.875rem;
}

.button-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 0.5rem;
  background-color: #E50000;
  padding-inline: 1.5rem;
  transition: all 0.3s;
}
.button-header:hover {
  transition: all 0.3s;
  background-color: #703232;
}

.slayder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slayder__button {
  padding: 1rem;
}
.slayder__button--revers {
  transform: rotate(180deg);
}
.slayder__button:hover {
  background: #413f3f;
}
.slayder__items {
  display: flex;
  gap: 3px;
  width: 5.0625rem;
}
.slayder__item {
  height: 0.25rem;
  flex: 1 0 0;
  border-radius: 6.25rem;
  background-color: #333;
}
.slayder__item--red {
  background: var(--Red-45, #E50000);
}

.button-our:hover {
  background: #413f3f;
  border-radius: 6px;
}

.page__hero {
  margin-block-end: 11.25rem;
}
.page__movies {
  margin-block-end: 9.375rem;
}
.page__free {
  margin-block-end: 8.375rem;
}

.hero__container {
  position: relative;
}
.hero__image-ibg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 12px;
  border: 1px solid #262626;
  -o-object-position: center;
     object-position: center;
}
.hero__image-ibg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero__image-ibg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0) 100%);
}
.hero__content {
  padding-inline: 3.125rem;
  padding-block: 3.125rem 1.25rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 62rem) {
  .hero__content {
    padding-inline: 2.5rem;
    padding-block: 2.5rem 1rem;
  }
}
@media (max-width: 28.125rem) {
  .hero__content {
    padding-inline: 1.5rem;
    padding-block: 1.5rem 1rem;
  }
}
.hero__body {
  padding-block-start: 28.625rem;
  display: grid;
  justify-items: center;
  margin-block-end: 3.125rem;
}
@media (max-width: 62rem) {
  .hero__body {
    padding-block-start: 24.625rem;
  }
}
@media (max-width: 28.125rem) {
  .hero__body {
    padding-block-start: 15.75rem;
  }
}
.hero__tatel {
  color: #FFF;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.5; /* 57px */
}
.hero__text {
  text-align: center;
  margin-block-end: 1.875rem;
  color: #999;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5; /* 27px */
}
.hero__button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}
.movies__container {
  position: relative;
  border-radius: 0.75rem;
  border: 1px solid var(--Black-15, #262626);
  padding: 1.875rem;
}
@media (min-width: 25rem) {
  .movies__container {
    padding: 3.125rem;
  }
}
.movies__button {
  display: inline-block;
  padding-inline: 1.5rem;
  padding-block: 0.625rem;
  position: absolute;
  top: -1.5625rem;
  left: 3.125rem;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5; /* 30px */
}
.movies__items {
  display: grid;
}
.movies__items > *:not(:last-child) {
  margin-block-end: 6.25rem;
}
.movies__content {
  display: flex;
  justify-content: space-between;
  margin-block-end: 3.125rem;
}
@media (max-width: 50.75rem) {
  .movies__content {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}
.content__tatel {
  color: #FFF;
  font-size: 2.375rem;
  font-weight: 700;
  line-height: 1.5; /* 57px */
}
@media (max-width: 62rem) {
  .content__tatel {
    font-size: 1.875rem;
  }
}
@media (max-width: 32.5rem) {
  .content__tatel {
    font-size: 1.5rem;
  }
}
.content__slayder {
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid #1F1F1F;
  background: #0F0F0F;
}

.our__items {
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
  gap: 30px;
  margin-block-end: 0.09375rem;
}
@media (max-width: 72.25rem) {
  .our__items {
    gap: 26px;
  }
}
@media (max-width: 62rem) {
  .our__items {
    gap: 24px;
  }
}
@media (max-width: 55rem) {
  .our__items {
    grid-template-columns: repeat(2, 0.5fr);
    gap: 20px;
  }
}
@media (max-width: 26.375rem) {
  .our__items {
    grid-template-columns: 1fr;
  }
}
.our__item {
  border-radius: 12px;
  border: 1px solid #262626;
  background: #1A1A1A;
}
@media (min-width: 72.3125rem) {
  .our__item {
    padding: 1.875rem;
  }
}
@media (max-width: 72.25rem) {
  .our__item {
    padding: 1.625rem;
  }
}
@media (max-width: 62rem) {
  .our__item {
    padding: 1.625rem;
  }
}
@media (max-width: 55rem) {
  .our__item {
    padding: 1.5rem;
  }
}
.our__conten {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.our__tatel {
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5; /* 24px */
  padding-inline-end: 0.5rem;
}
.item-our__items {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 5px;
  position: relative;
}
.item-our__items::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
}
.item-our__item {
  width: 100%;
  height: 100%;
}

.item-card__img {
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -o-object-fit: contain;
     object-fit: contain;
}

.popular__items {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  gap: 30px;
}
@media (max-width: 62rem) {
  .popular__items {
    grid-template-columns: repeat(2, 0.5fr);
    gap: 20px;
  }
}
@media (max-width: 32.5rem) {
  .popular__items {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.popular__item {
  padding: 1.875rem;
  border-radius: 0.75rem;
  border: 1px solid #262626;
  background: #1A1A1A;
}
.popular__conten {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular__blok {
  display: grid;
}
.popular__link {
  padding: 0.625rem;
  color: #FFF;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5; /* 24px */
  margin-block-end: 0.625rem;
}
.popular__tatel {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5%; /* 30px */
}
.item-popular__items {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 10px;
  position: relative;
}
.item-popular__items::after {
  content: "";
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1A1A1A 101.79%);
}
.item-popular__item {
  width: 100%;
  height: 100%;
}
.item-popular__item img {
  aspect-ratio: 107/98;
}

.trendung__items {
  display: grid;
  grid-template-columns: repeat(5, 0.25fr);
  gap: 25px;
}
@media (max-width: 62rem) {
  .trendung__items {
    grid-template-columns: repeat(3, 0.5fr);
    row-gap: 16px;
  }
}
@media (max-width: 32.5rem) {
  .trendung__items {
    grid-template-columns: repeat(2, 0.5fr);
  }
}
.trendung__item {
  padding: 1.25rem;
  border-radius: 12px;
  border: 1px solid var(--Black-15, #262626);
  background: var(--Black-10, #1A1A1A);
}
@media (max-width: 62rem) {
  .trendung__item {
    padding: 1.125rem;
  }
}
@media (max-width: 32.5rem) {
  .trendung__item {
    padding: 0.875rem;
  }
}

.item-trendung__img {
  margin-block-end: 1.25rem;
}
.item-trendung__conten {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item-trendung__clok {
  display: flex;
  border-radius: 3.1875rem;
  gap: 2px;
  border: 1px solid #262626;
  background: #141414;
  padding-block: 0.375rem;
  padding-inline: 0.375rem 0.625rem;
}
.item-trendung__lik {
  display: flex;
  gap: 4px;
  border-radius: 3.1875rem;
  border: 1px solid #262626;
  background: #141414;
  padding-block: 0.375rem;
  padding-inline: 0.375rem 0.625rem;
}

.clok__text {
  color: #999;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

.lik__text {
  color: #999;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}

.release__items {
  display: grid;
  grid-template-columns: repeat(5, 0.2fr);
  gap: 20px;
}
@media (max-width: 62rem) {
  .release__items {
    gap: 16px;
  }
}
.release__item {
  border-radius: 12px;
  border: 1px solid #262626;
  background: #1A1A1A;
  padding: 1.25rem;
}
@media (max-width: 62rem) {
  .release__item {
    padding: 1rem;
  }
}

.item-release__img {
  margin-block-end: 1.25rem;
}
.item-release__conten {
  border-radius: 3.1875rem;
  border: 1px solid #262626;
  background: #141414;
  padding-block: 0.375rem;
  padding-inline: 0.375rem 0.625rem;
  text-align: center;
  color: #999;
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
}
.item-release__conten span {
  color: #BFBFBF;
}
@media (max-width: 81.25rem) {
  .item-release__conten {
    font-size: 0.75rem;
  }
}

.must__items {
  display: grid;
  grid-template-columns: repeat(4, 0.25fr);
  gap: 20px;
}
@media (max-width: 57.5rem) {
  .must__items {
    grid-template-columns: repeat(2, 0.5fr);
  }
}
@media (max-width: 32.5rem) {
  .must__items {
    grid-template-columns: 1fr;
  }
}
.must__item {
  border-radius: 12px;
  border: 1px solid #262626;
  background: #1A1A1A;
  padding: 1.25rem;
}

.item-must__img {
  margin-block-end: 1.25rem;
}
.item-must__conten {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-must__clok, .item-must__rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding-block: 0.375rem;
  padding-inline: 0.375rem 0.625rem;
  border-radius: 3.1875rem;
  border: 1px solid #262626;
  background: #141414;
}
.rating__icon {
  width: 100%;
  height: 100%;
}
.rating__icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.rating__text {
  color: #999;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5%; /* 21px */
}

.free__container {
  position: relative;
  display: grid;
  padding-inline: 5rem 7.1875rem;
}
@media (min-width: 32.5rem) {
  .free__container {
    padding-block: 7.1875rem 7.25rem;
  }
}
@media (max-width: 72.5rem) {
  .free__container {
    padding-inline: 5rem;
  }
}
@media (max-width: 62rem) {
  .free__container {
    padding-inline: 5rem;
  }
}
.free__content {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  gap: 20px;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 62rem) {
  .free__content {
    grid-template-columns: 1fr 0.25fr;
  }
}
@media (max-width: 50rem) {
  .free__content {
    grid-template-columns: 1fr;
    padding-inline: 2.5rem;
  }
}
.free__blok {
  color: #FFF;
  line-height: 1.5; /* 72px */
}
.free__tatel {
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 72.5rem) {
  .free__tatel {
    font-size: 2.5rem;
  }
}
@media (max-width: 62rem) {
  .free__tatel {
    font-size: 1.875rem;
  }
}
.free__text {
  color: #999;
  font-size: 1.125rem;
}
@media (max-width: 72.5rem) {
  .free__text {
    font-size: 0.875rem;
  }
}
.free__button {
  min-width: 190px;
  color: #FFF;
  text-align: center;
  font-size: 1.125rem;
  border-radius: 8px;
  background: #E50000;
  padding: 1.125rem 1.5rem;
}
.free__button:hover {
  transition: all 0.3s;
  background-color: #703232;
}
.free__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}