.footer {
	margin-block-start: -3.75rem;
	background-color: #2B384C;
	color: #fff;

	// .footer__container

	&__container {
		padding-block-start: 12rem;
		padding-block-end: 5.125rem;
		display: flex;
		flex-wrap: wrap;

		align-items: center;
		justify-content: space-between;
		@media (max-width: 57.8125rem){		
				padding-block-start: 3.75rem;
				padding-block-end: 2.5rem;	
				justify-content: center;
				row-gap: 1.3rem;
			}
	}

	// .footer__logo

	&__logo {
		display: flex;
		flex-wrap: wrap;
	}

	// .footer__list

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	// .footer__item

	&__item {
		padding-block: 0.75rem; /* 12/270 */
		padding-inline: 1.5rem; /* 24/270 */
	}

	// .footer__link

	&__link {
		color: #F0F1F3;
		line-height: 1.5; /* 150% */
		&:hover{
			text-decoration: underline;
		}
		
	}

	// .footer__copyr

	&__copyr {
		color: var(--Gray-White, #FFF);
		line-height: 1.5; /* 150% */
	}
}




















