.active {	
	color: #fff;
	background-color: #1a1a1a;	
}
.button {
	border-radius: toRem(8);
	border: 1px solid #1F1F1F;
	background: #0F0F0F;
		
	&:hover{
		background: #413f3f;
	}
	// .button__play

	&__play {
		padding-block: toRem(14);
		padding-inline: toRem(24);
		margin-inline-end: toRem(20);
		
	}

	// .button__items

	&__items {
	}

	// .button__item

	&__item {
		padding: toRem(14);
	}
}
.button-header {
	display: flex;
	align-items: center;
	gap: toRem(4);
	border-radius: toRem(8);
	background-color: #E50000;
	padding-inline: toRem(24);
	transition: all 0.3s;
	&:hover{
		transition: all 0.3s;
		background-color: #703232;
	}
}

.slayder {
	display: flex;
	justify-content: space-between;
	align-items: center;

	// .slayder__button

	&__button {
		padding: toRem(16);
		// .slayder__button--revers
		&--revers{
			transform: rotate(180deg);
		}
		&:hover{
			background: #413f3f;

		}
	}

	// .slayder__items

	&__items {
		display: flex;
		gap: 3px;
		
		width: toRem(81);
		//height: 4px;
	}

	// .slayder__item

	&__item {		
		height: toRem(4);
		flex: 1 0 0;
		border-radius: toRem(100);
		background-color: #333;

		// .slayder__item--red

		&--red {
			
			background: var(--Red-45, #E50000);
		}
	}
}

.button-our{
	&:hover{
		background: #413f3f;
		border-radius: 6px;
	}
}





