@use "sass:math";
/* Підключення фрифтів */

/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Archivo:500&display=swap");

@import "_mixins.scss";

/* Локальне підключення шрифтів */
@import "_fonts.scss";

/* Скидання стилів */
@import url("reset.css");


/* Основні стилі */
body {
	font-family: "Manrope", sans-serif;	
	font-size: toRem(22);
	
	color: #999;	
	background-color: #141414;
}
.wrapper {	
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;

	position: relative;
	z-index: 2;
}
.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */

[class*="__container"] {
	max-width: 1624px;
	padding-inline: 15px;
	margin: 0 auto;
}


/* --------------------- */
/* Стилі для header */
@import "header";
@import "footer";
@import "common";

.page {

	// .page__hero

	&__hero {
	}
}
.hero {

	// .hero__container

	&__container {
		
	}

	// .hero__image-ibg

	&__image-ibg {
		position: absolute;
		top: 0;		
		z-index: -1;
		
		
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		&::after{
			content:'';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 12px;
			border: 1px solid #262626;
			background: linear-gradient(0deg, #141414 0%, rgba(20, 20, 20, 0.00) 100%), //url(<path-to-image>) lightgray 50% / cover no-repeat;
		}	
			
		
	}
	// .hero__content

	&__content{
		max-height: 835px;
		padding-inline: toRem(50);
		padding-block: toRem(50) toRem(20);
		position: relative;
		z-index: 2;
		@media (max-width: toRem(530)){
			padding: toRem(5);
		}
		
	}

	// .hero__body

	&__body {
		display: grid;
		justify-items: center;
		margin-block-end: toRem(50);
	}

	// .hero__tatel

	&__tatel {
		color: #FFF;
		font-size: toRem(38);		
		font-weight: 700;
		line-height: 1.5; /* 57px */
	}

	// .hero__text

	&__text {
		margin-block-end: toRem(30);
		color:  #999;
		font-size: toRem(18);
		font-weight: 500;
		line-height: 1.5; /* 27px */
	}

	// .hero__button

	&__button {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		
	}

	// .hero__slayder

	&__slayder {
		
	}


}
.button {

	// .button__play

	&__play {
		padding-block: toRem(14);
		margin-inline-end: toRem(20);
	}

	// .button__items

	&__items {
	}

	// .button__item

	&__item {
		padding: toRem(14);
	}
}




	
